.team-logo
{
  width: 20%;
  height: auto;

}

.container{
  margin-top: 7%;

}


.away:hover{

  cursor: pointer;

}
.home:hover{
  cursor: pointer;
}
td:nth-child(even) {
  text-align: center;

}
td:first-child {
  text-align: left;
  padding-left:60px;
}
td:nth-child(3){
  text-align:right;

}

.card-text td:nth-child(2){
  color: rgba(158,28,52,0.81);
  font-weight: bolder;
  padding: 0 30px 0 30px;
}

.card-title{
  text-align: center;
  margin: 0px!important;

}

.picked{
  background-color:rgba(6, 6, 20, 0.589);
  cursor: pointer;
  color: white;
}

.card-header{
  color:white;

  font-size: 18px;
  background:#34434B;
}

.stats{

  background-color: lightgray;
  border-style: solid;
  border-color: dimgrey;
  border-width: 2px;
  padding: 0px!important;
  margin: 0px!important;

}

p.card-text{
  font-size: 26px;

}
.rank{
  font-size: 18px;
  font-weight: lighter;
}
#fixedbutton {
  color: white;
  background-color: rgba(158,28,52);
  position: fixed;
  top: 86px;
  right: 0px;
  width: 10%;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;

  border: 2px solid transparent;
  text-transform: uppercase;
  padding: 13px 25px;
  font-size: 18px;
  border-radius: 40px;
  margin: 7px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
#fixedbutton:hover{
  cursor: pointer;
  background-color: blue;

}


