<div class="mod" *ngIf="submitted===true">
    <div class="modheader">this is a header</div>
    <div class="mod-content">

      <span class="closeBtn">&times;</span>

      <p>
          Your Picks :
      </p>
      <div class="picks" *ngFor="let item of picks">
        {{item}}
      </div>

      <button class="mdlSubmit btn" (click)="submitPick()">Confim</button>
      <button class="mdlClose btn" (click)="this.submitted=false">Cancel</button>


    </div>
  </div>
<div class="container">

  <!-- modal -->



<button id='fixedbutton' (click)="submit()">Pick'Em</button>
  <div *ngFor="let game of games; index as i" class="card">
    <div class="card-header">
      {{ game.game[2].headline}}
    </div>
    <div class="card-body">

      <div class="row">
          <div class="col-md-4 away" [class.picked]='awaySelectedIndex[i] === true' (click)='clicked(game.game[1].name, i)'>
            <p class="card-text" >{{game.game[1].name}} <span class='rank'>({{game.game[1].rank}})</span></p>

            <img class='team-logo' [src]='game.game[1].url'>

          </div>
          <div class="col-md-4 stats">
            <h6 class="card-title" >  {{game.game[2].gameTime.network}} {{game.game[2].gameTime.day}} {{game.game[2].gameTime.time}} </h6>

                <table class="card-text">
                    <tbody>
                    <tr>
                      <td>{{game.game[1].name}} </td>
                      <td>vs</td>
                      <td>{{game.game[0].name}} </td>
                    </tr>
                        <tr>
                          <td>{{game.game[1].PPG}} </td>
                          <td>PPG</td>
                          <td>{{game.game[0].PPG}}</td>
                        </tr>
                        <tr>
                          <td>{{game.game[1].Opp_PPG}}</td>
                          <td>Opp PPG</td>
                          <td>{{game.game[0].Opp_PPG}}</td>
                        </tr>
                        <tr>
                          <td>{{game.game[1].Pass_YPG}}</td>
                          <td>Pass YPG</td>
                          <td>{{game.game[0].Pass_YPG}}</td>
                        </tr>
                        <tr>
                          <td>{{game.game[1].Rush_YPG}}</td>
                          <td>Rush YPG</td>
                          <td>{{game.game[0].Rush_YPG}}</td>
                        </tr>
                  </tbody></table>
          </div>
          <div class="col-md-4 home" [class.picked]='homeSelectedIndex[i] === true' (click)='clickedHome(game.game[0].name, i)'>
            <p class="card-text"> {{game.game[0].name}} <span class="rank"> ( {{game.game[0].rank}} )</span></p>
            <img class='team-logo' [src] ='game.game[0].url'>

          </div>
      </div>

    </div>
  </div>
</div>
